---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ArticleCard from "../../components/ArticleCard.astro";
import Breadcrumb from "../../components/Breadcrumb.astro";

const articles = await getCollection("articles", ({ data }) => {
  return data.category === "beginner" && data.published === true;
});
---

<Layout title="アップデート内容">
  <main class="page-container">
    <Breadcrumb
      items={[
        { label: "初心者" },
      ]}
    />
    <h1>アップデート内容</h1>

    <p>アップデートによって追加された機能等について記載していきます。<br>現在鋭意制作中ですので、今しばらくお待ちください。</p>
    <div class="article-grid">
      {articles.map((article) => (
        <ArticleCard article={article} />
      ))}
    </div>
  </main>
</Layout>

<style>
  .page-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .article-grid {
    display: grid;
    gap: 1rem;
  }
</style>