---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ArticleCard from "../../components/ArticleCard.astro";

const articles = await getCollection("articles", ({ data }) => {
  return data.category === "beginner" && data.published === true;
});
---

<Layout title="制作実例紹介">
  <main class="page-container">
    <h1>制作実例紹介</h1>

    <p>筆者が実際に制作した幻境の作り方の紹介等を記載していきます。<br>現在鋭意制作中ですので、今しばらくお待ちください。</p>
  </main>
</Layout>

<style>
  .page-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .article-grid {
    display: grid;
    gap: 1rem;
  }
</style>