---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import ArticleCard from "../../components/ArticleCard.astro";

const articles = await getCollection("articles", ({ data }) => {
  return data.category === "beginner" && data.published === true;
});
---

<Layout title="機能説明">
  <main class="page-container">
    <h1>機能説明</h1>

    <div class="article-grid">
      {articles.map((article) => (
        <ArticleCard article={article} />
      ))}
    </div>
    <p>各機能の説明を記載していきます。<br>現在鋭意制作中ですので、今しばらくお待ちください。</p>
  </main>
</Layout>

<style>
  .page-container {
    max-width: 960px;
    margin: 0 auto;
    padding: 2rem 1rem;
  }

  .article-grid {
    display: grid;
    gap: 1rem;
  }
</style>