<div id="search"></div>

<link
  rel="stylesheet"
  href={`${import.meta.env.BASE_URL}pagefind/pagefind-ui.css`}
/>

<script is:inline>
  window.addEventListener("DOMContentLoaded", async () => {
    const pagefind = await import(`${import.meta.env.BASE_URL}pagefind/pagefind-ui.js`);

    new pagefind.PagefindUI({
      element: "#search",
    });
  });
</script>