<div id="search"></div>

<link
  rel="stylesheet"
  href="/genshin-miliastra-guide/pagefind/pagefind-ui.css"
/>

<script is:inline>
  window.addEventListener("DOMContentLoaded", async () => {
    const pagefind = await import("/genshin-miliastra-guide/pagefind/pagefind-ui.js");

    new pagefind.PagefindUI({
      element: "#search",
    });
  });
</script>