<div id="search"></div>

<link
  rel="stylesheet"
  href="/genshin-miliastra-guide/pagefind/pagefind-ui.css"
/>

<script
  is:inline
  src="/genshin-miliastra-guide/pagefind/pagefind-ui.js"
></script>

<script is:inline>
  window.addEventListener("DOMContentLoaded", () => {
    new PagefindUI({
      element: "#search",
    });
  });
</script>